body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 60em;
    background-image: url("images/2600x1200_01.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}


/* HEADER navigation menu */

.navMenuHeader {
    display: flex;
    margin: auto;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    justify-content: center;
}

.navContainer {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-column-gap: 2em;
    align-items: center;
    align-content: center;
    width: 70%;
    height: 7em;
    margin-top: 2em;
}

.navContainer :first-child {
    margin-left: 1em;
}

.navContainer :last-child {
    margin-right: 1em;
}

.navContainer :nth-child(2) {
    margin-right: 1em;
}

.navHeader li{
    display: inline;
}

.logoCh {           /* Logo CH Immo */
    height: 3em;
}

.navHeader a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 0.5em;
}

.navHeader a:active, a:hover{
    text-decoration: underline;
}


.btnPhone {                                   /* Btn phone contact navigation menu */
    background-color: #74AAD5;
    border: none;
    width: 13em;
    height: 4em;
    color: white;
    border-radius: 45px;
    z-index: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}


/*  Round Buttons Blue White */
.boxRound {
    display: flex;
    flex-wrap: nowrap;
    width: 18.5em;
    margin-top: 7em;
    margin-left: 23em;
    justify-content: space-between;
}

.boxRound p {
    text-align: center;
    font-family: 'Droide';
    font-size: 18px;
}

.roundWhite {
    display: flex;
    width: 8.5em;
    height: 8.5em;
    border-radius: 50%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.roundWhite p {
    color:  #13324b;
}

.roundBlue {
    display: flex;
    width: 8.5em;
    height: 8.5em;
    border-radius: 50%;
    background-color: #74AAD5;
    justify-content: center;
    align-items: center;
}

.roundBlue p {
    color:  white;
}


/*          Menu 2                */
.blocMenu{
    display: none;
}

.BlocChimmo{
    display: none;
}

/*         Fin Menu 2        */


/*  Text IMMO + button appartements */
.boxTxtImmo {
    margin-top: 12em;
    margin-left: 75em;
    line-height: 1em;
}

.txtImmo h1{
    font-family: 'Montserrat';
    font-size: 80px;
    font-weight: bold;
    color : white;
    text-transform: uppercase;
}

.txtImmo h2 {
    font-family: 'Droide';
    font-style: italic;
    font-weight: lighter;
    color : white;

}

.btnApt {
    display: block;
    margin-top: 3em;
    background-color: rgba(19, 50, 75, 0.5);
    border: none;
    width: 20em;
    height: 4em;
    color: white;
    border-radius: 45px;
    z-index: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    padding: 1em;
}

.box-icon-header {
    display: flex;
    position: absolute;
    bottom: 4.5em;
    left: 50%;
    margin-top: 5.3em;
    width: 4em;
    height: 4em;
    background-color: #74AAD5;
    border-radius: 100%;
    border: 10px solid rgba(255, 255, 255, 0.3);   /* Bordure transparante  */
    justify-content: center;
    align-items: center;
    z-index: 2;
    -webkit-background-clip: padding-box; /* Bordure transparente  */
    background-clip: padding-box;   /* Bordure transparente  */
    -webkit-filter: drop-shadow(0, 0, 0, 1em, rgba(255, 255, 255, 0.842));
}

.icon-arrow {
    -webkit-transform: rotate(90deg);
    display: block;
    width: 2em;
    height: 2em;
}


/* PLAN 3D LISTES  */

/* Image du plan */
.plan-3D {
    display: block;
    margin: auto;
    width : 50%;
}



/* Listes en grid */

.boxListContainer {
    width: 60%;
    display: grid;
    grid-template-columns : 1fr 1fr;
    grid-column-gap: 2em;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin : auto;
}

.box-list {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

.box-list h2 {
    font-size: 45px;
    font-family: "Droide";
    text-align: center;
    margin-bottom: 1.5em;
    font-weight: lighter;
}

.liste {
    list-style-image: url("images/icon-checked4.svg");
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
    font-size: 15px;
    width: 24em;
    border-radius: 0.2em;
    padding: 5em;
    box-shadow: 0px 0px 12px 7px rgba(148,148,129,0.5);
}

.liste hr {
   margin: auto;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.icon {
    display: block;
    width: 2em;
    height: 2em;
}

.box-icon {
    position: absolute;
    display: flex;
    top: 3.5em;
    left: 14em;
    margin-top: 5.3em;
    width: 4em;
    height: 4em;
    background-color: #74AAD5;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.liste ul {
    padding: 4em;
}


/* FOOTER bouton contact + titre */

.bigHR {
    display: block;
    margin-top: 8em;
    width: 75%;
}

.txtBlue {
    color: #74AAD5;
}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
}

.btn-contact {
    display: flex;
    width: auto;
    height: 2em;
    background-color: white;
    border: 2px solid #74AAD5;
    border-radius: 3em;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #74AAD5;
    padding: 2em;
    justify-content: center;
    align-items: center;
}

.box-icon-arrow {
    display: flex;
    width: 4em;
    height: 4em;
    margin-right: 2em;
    background-color: #74AAD5;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


/* FOOTER menu navigation */
.fondFooter {
    display: block;
    width : 100%;
    height: 10em;
    background-color: #13324B;
}

.menuFooter {
    display: inline-flex;
    width: 100%;
    height: 10em;
    background-color: #13324B;
    justify-content: center;
    align-items: center;
}

.ulFooter li {
    display: inline;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 1em;
}

.ulFooter a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.liste-menu-footer li {
    display: inline;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: light;

}

.contactFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 3em;
}

.plusInfo>h2{
    font-size: 5em;;
    display: block;
    text-align: left;
    font-weight: bold;
}

.iconChene {
    height: 2em;
}

.liste-menu-footer a {
    display: inline;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
    text-transform: uppercase;
}

.boxSFD {
    display: flex;
    flex-direction: row;

}

.iconSFD {
    width: 2em;
    height: 2em;
    vertical-align: middle;

}

.websiteby {
    font-weight: bold;
    text-transform: uppercase;
}


/*  Font Droide */
@font-face {
    font-family: Droide;
    src : local(DroidSerif);
    font-weight: bold;
}

.titres h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.titres h3{
  font-family: Droide;
  font-size: 20px;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: light;
  color: #C7C7C7;
  line-height: 25px;
}

#section1{
  /* Aligner à gauche */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  width: 100%;
}

#blocTotal{
    width: 70%;
    margin-right: 7%;
    position: relative;

    /*      Grille           */
    display: grid;
    grid-template-columns: 1fr 1fr 1.1fr 0.9fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.4fr 1fr 1fr 1.1fr 0.5fr;
}


/*              Texte en colonne                   */
.texteColonne{
  align-self: end;
  background-color:  #FFFFFF;

  z-index: 2;   /* Surperposition */
  position: relative; /* Doit avoir une position pour la superposition */

  /* Grille du texte */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;

  height: 250px;

}
.PremierPara{
  grid-column-start: 1;
  grid-row-end: 1;
}
.deuxiemePara{
  grid-column-start: 2;
  grid-column-end: 2;
}



#blocColonne{
    grid-area: 3/1/5/6;   /* Position dans la grille  */
}

/*         Image           */
.imageFamille{
    width: 45vw;
    height: auto;
    float: right;
    z-index: 1;   /* Pour la superposition */
    position: absolute;

    grid-area: 1/5/5/11;    /* Position dans la grille  */


}

/*             Bloc des titres                   */
.titres{
    position: relative;
    z-index: 2;
    margin-top: 48px;
    padding-left: 10px;

    grid-area: 1/1/3/5;   /*  Position dans la grille   */
}

.titres h3{
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #13324B;
}
.titre h1{
  margin-top: 0px;
  padding-top:0px;
}

.titreFonce{
    color: #13324B;
}
.titreClair{
    color: #75AAD5;
}



/*            Div de l'icône flèche            */
.bloc-icon-arrow{
    display: flex;
    width: 3em;
    height: 3em;
    margin-right: 2em;
    background-color: #74AAD5;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;

}
/*            Flèche            */
.iconFleche{
  display: block;
  width: 1.5em;
  height: 1.5em;
}

/*            Div flèche + lien             */
#enSavoirPlus {
    /* ALignement flèche + lien  */
    display: flex;
    flex-direction: row;

    grid-area: 5/1/6/11;    /*  Position dans la grille */
}
/*          Lien EN SAVOIR PLUS           */
#enSavoirPlus a{
    padding-top: 25px;
    padding-left: 0px;
    margin: 0px;
    text-decoration: none;
    color: #75AAD5;
}



/*              Adaptation GSM                   */
@media screen and (max-width: 720px){
  header {
      height: 23em;
  }


    .navContainer{
        display: none;    /* On fait disparaître le premier menu */
    }


    /*              Menu 2                */
    header .blocMenu{
      display: block;
    	width: 100%;
      color: white;
      margin-top: 10px;
      padding-right: 20px;
    }

    header .blocMenu ul {
      /* On enlève l'effet bloc */
      margin: 0px;
    	padding: 0px;

    	list-style: none;  /* on enlève les caractères "cercles". */
    }

    header .blocMenu ul::after { /* Insère le contenu après l'élément. */
    	content:"";
    	display: block;
    	clear: both;
    }

    header .blocMenu ul li {
    	float:right;   /* Position: droite */
    	width: 60px;
    	height: 35px;
    	line-height: 35px;
    	text-align: center;
      font-weight: bold;
    }

    header .blocMenu ul li a {
    	display: block;  /* Pour que le lien se comporte comme un bloc */
    	text-decoration: none;
    	z-index: 1000;   /* Apparaît au dessus */
    }

    .sous_onglets{
    	display: none;   /* Invisible */
    	position: relative;
    }

    header .blocMenu ul li ul li a:visited{
    	color: white;
    }
    header .blocMenu ul li ul li a:link{
    	color: white;
    }

    header .blocMenu ul li:hover ul li{
    	display: block;
    	z-index: 1000;
      width: 70px;

    }

    header .blocMenu ul li a:hover {
    	background-color: #BDBDBD;    /* Couleur sous-onglets */
    	opacity: 0.5;
    	font-weight: bold;
    }

    /*  Image menu  */
    .imgMenu{
        width: 25px;
        padding-top: 10px;
    }
    /*  Bloc + image tel   */
    .tel{
        width: 40px;
        height: 40px;
        background-color: #74AAD5;
        border-radius: 50%;
    }
    .imgTel{
        width: 15px;
        padding-top: 10px;
    }


    /* Logo CHIMMO  */
    .BlocChimmo{
        display: block;   /* Pour le faire réapparaître */
        padding-top: 15px;
        padding-left: 30px;
    }

/* Flèche vers le bas du header  */
    .box-icon-header {
        display: none;
    }



    /*        Immo  + btn appartements      */
    .boxTxtImmo {
        margin-top: 19%;
        margin-left: 5%;;
        line-height: 1em;
    }

    .txtImmo h1{
        margin-bottom: 0px;
        padding-bottom: 15px;
    }


    .btnApt {
        display: block;
        margin-top: 0;
        background-color: rgba(19, 50, 75, 1);
        z-index: 0;
        text-align: right;
        padding-right: 10px;
    }


    /*       Round blanc bleu         */
    .boxRound{
        display: none;
    }


    #section1{
      display: flex;
      align-items:center;
      width: 100%;
    }

    #blocTotal{
        width: 100%;

        margin: 0 auto;

        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 0.6fr 0.5fr;
        grid-template-areas: "titre"
                              "Image"
                              "texte"
                              "plus";

      }

      .titres {
          grid-area: titre;
          width:100%;

          padding-top: 1%;
          padding-left: 10%;
        }


      .imageFamille {
          grid-area: Image;
          position: relative;

          width: 100%;
          height: auto;

      }
      .blocColonne {
          grid-area: texte;
          position: relative;
          width: 100%;

        }

      .texteColonne{
          align-self: center;
          position: relative;

          margin: auto;
          padding-left: 50px;
          padding-right: 50px;

          display:block;    /* Enlève les colonnes */
      }

      .texteColonne p{
          font-size: 18px;
          line-height: 25px;
      }
      .deuxiemePara{
          margin-top: -15px;    /* espacement entre les p */
      }

      #enSavoirPlus {
          grid-area: plus;
          z-index: 1;
     }


     /*      Image plan-3D      */
     .plan-3D {
         width : 100%;
     }


     /*           Box list container  : alignement        */
     .boxListContainer {
          display: grid;
          grid-template-columns : 1fr;
          grid-template-rows: 1fr 1fr;
          grid-template-areas: "f"
                              "p";
          width: 100%;
     }

     .box-list{
          width: 100%;
     }

     .liste {
          width: 100%;
          padding: 5em;
     }

     .liste hr {
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 20%;
     }

     .box-icon {
         left: 45%;
     }

     /*           ligne  HR         */
     .bigHR {
         display:none;
     }


     /*        Contact Footer        */
     .contactFooter{
        display: flex;
        flex-direction: column;
     }
     .ulFooter{
        display: none;
     }
