body {
    margin: 0;
}

header {
    width: 100%;
    height: 60em;
    background-image: url("images/2600x1200_01.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}



/* HEADER navigation menu */

.navMenuHeader {
    display: flex;
    margin: auto;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    justify-content: center;
}

.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 62%;
    height: 30%;
    z-index: 0;
}

.LiNav {
    display: inline-flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: flex-end;
}


.LiNav a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 1em;
}



.NavHR {
    display: block;
    width: 60%;
}

.navHeader a:active, a:hover{
    text-decoration: underline;
}


.btnPhone {                                   /* Btn phone contact navigation menu */
    background-color: #74AAD5;
    border: none;
    width: 13em;
    height: 2.5em;
    color: white;
    border-radius: 45px;
    z-index: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}



/*  Round Buttons Blue White */
.boxRound {
    display: flex;
    flex-wrap: nowrap;
    width: 18.5em;
    margin-top: 7em;
    margin-left: 23em;
    justify-content: space-between;
}

.boxRound p {
    text-align: center;
    font-family: 'Droide';
    font-size: 18px;
}

.roundWhite {
    display: flex;
    width: 8.5em;
    height: 8.5em;
    border-radius: 50%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.roundWhite p {
    color:  #13324b;
}

.roundBlue {
    display: flex;
    width: 8.5em;
    height: 8.5em;
    border-radius: 50%;
    background-color: #74AAD5;
    justify-content: center;
    align-items: center;
}

.roundBlue p {
    color:  white;
}


/*  Text IMMO + button appartements */
.boxTxtImmo {
    margin-top: 12em;
    margin-right: 4em;
    float: right;
    line-height: 1em;
}

.txtImmo h1{
    font-family: 'Montserrat';
    font-size: 80px;
    font-weight: bold;
    color : white;
    text-transform: uppercase;
}

.txtImmo h2 {
    font-family: 'Droide';
    font-style: italic;
    font-weight: lighter;
    color : white;
    
}

.btnApt {
    display: flex;
    background-color: rgba(19, 50, 75, 0.5);
    border: none;
    width: 20em;
    height: 4em;
    color: white;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    padding: 1em;
    justify-content: space-between;
    align-items: space-around;
}

.btn_arrow_aptn {
    display:flex;
    width: 3em;
    height: 3em;
    background-color: white;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
}

.btn_arrow_aptn img {
    width: 2em;
    height: 2em;
}


.box-icon-header {
    display: flex;
    position: absolute;
    bottom: 4.5em;
    left: 50%;
    margin-top: 5.3em;
    width: 4em;
    height: 4em;
    background-color: #74AAD5;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;

}

.icon-arrow {
    -webkit-transform: rotate(90deg);
    display: block;
    width: 2em;
    height: 2em;
}


/* PLAN 3D LISTES  */

/* Image du plan */
.plan-3D {
    display: block;
    margin: auto;
    width : 50%;
}



/* Listes en grid */

.boxListContainer {
    width: 60%;
    display: grid;
    grid-template-columns : 1fr 1fr 0fr;
    grid-column-gap: 4em;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin : auto;

}

.box-list h2 {
    font-size: 45px;
    font-family: "Droide";
    text-align: center;
    margin-bottom: 1.5em;
    font-weight: lighter;
}

.liste {
    list-style-image: url("images/icon-checked4.svg");
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
    font-size: 15px;
    width: 24em;
    border-radius: 0.2em;
    padding: 5em;
    box-shadow: 0px 0px 12px 7px rgba(157, 179, 194, 0.5);
}

.liste hr {
   margin: auto;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.box-list {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: auto;
    
}

.icon {
    display: block;
    width: 2em;
    height: 2em;
}

.box-icon {
    position: absolute;
    display: flex;
    top: 3.5em;
    left: 14em;
    margin-top: 5.3em;
    width: 4em;
    height: 4em;
    background-color: #74AAD5;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.liste ul {
    padding: 4em;
}


/* FOOTER bouton contact + titre */

.bigHR {
    display: block;
    margin-top: 8em;
    width: 75%;
}

.txtBlue {
    color: #74AAD5;
}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
}

.btn-contact {
    display: flex;
    width: auto;
    height: 2em;
    background-color: white;
    border: 2px solid #74AAD5;
    border-radius: 3em;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #74AAD5;
    padding: 2em;
    justify-content: center;
    align-items: center;
}

.box-icon-arrow {
    display: flex;
    width: 4em;
    height: 4em;
    margin-right: 2em;
    background-color: #74AAD5;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


/* FOOTER menu navigation */
.fondFooter {
    display: block;
    width : 100%;
    height: 10em;
    background-color: #13324B;
}

.menuFooter {
    display: inline-flex;
    width: 100%;
    height: 10em;
    background-color: #13324B;
    justify-content: center;
    align-items: center;
}

.ulFooter li {
    display: inline;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 1em;
}

.ulFooter a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.liste-menu-footer li {
    display: inline;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: light;
    
}

.contactFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 3em;
}

.plusInfo>h2{
    font-size: 5em;;
    display: block;
    text-align: left;
    font-weight: bold;   
}

.iconChene {
    height: 2em;
}

.liste-menu-footer a {
    display: inline;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
    text-transform: uppercase;
}

.boxSFD {
    display: flex;
    flex-direction: row;
 
}

.iconSFD {
    width: 2em;
    height: 2em;
    vertical-align: middle;
    
}

.websiteby {
    font-weight: bold;
    text-transform: uppercase;
}


/*  Font Droide */
@font-face {
    font-family: Droide;
    src : local(DroidSerif);
    font-weight: bold;
}

.titres h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.titres h3{
  font-family: Droide;
  font-size: 20px;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: light;
  color: #C7C7C7;
  line-height: 25px;
}

#section1{
  /* Aligner à gauche */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

#blocTotal{
    width: 70%;
    margin-right: 7%;
    position: relative;

    /*      Grille           */
    display: grid;
    grid-template-columns: 1fr 1fr 1.1fr 0.9fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.4fr 1fr 1fr 1.1fr 0.5fr;
}


/*              Texte en colonne                   */
.texteColonne{
  align-self: end;
  background-color:  #FFFFFF;

  z-index: 2;   /* Surperposition */
  position: relative; /* Dois avoir une position pour la superposition */

  /* Grille du texte */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;

  height: 250px;

}
.PremierPara{
  grid-column-start: 1;
  grid-row-end: 1;
}
.deuxiemePara{
  grid-column-start: 2;
  grid-column-end: 2;
}



#blocColonne{
    grid-area: 3/1/5/6;   /* Position dans la grille  */
}

/*         Image           */
.imageFamille{
    width: 45vw;
    height: auto;
    float: right;
    z-index: 1;   /* Pour la superposition */
    position: absolute;

    grid-area: 1/5/5/11;    /* Position dans la grille  */


}

/*             Bloc des titres                   */
.titres{
    position: relative;
    z-index: 2;
    margin-top: 48px;
    padding-left: 10px;

    grid-area: 1/1/3/5;   /*  Position dans la grille   */
}

.titres h3{
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #13324B;
}
.titre h1{
  margin-top: 0px;
  padding-top:0px;
}

.titreFonce{
    color: #13324B;
}
.titreClair{
    color: #75AAD5;
}



/*            Div de l'icône flèche            */
.bloc-icon-arrow{
    display: flex;
    width: 3em;
    height: 3em;
    margin-right: 2em;
    background-color: #74AAD5;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;

}
/*            Flèche            */
.iconFleche{
  display: block;
  width: 1.5em;
  height: 1.5em;
}

/*            Div flèche + lien             */
#enSavoirPlus {
    /* ALignement flèche + lien  */
    display: flex;
    flex-direction: row;

    grid-area: 5/1/6/11;    /*  Position dans la grille */
}
/*          Lien EN SAVOIR PLUS           */
#enSavoirPlus a{
    padding-top: 25px;
    padding-left: 0px;
    margin: 0px;
    text-decoration: none;
    color: #75AAD5;
}



@media  (min-width: 768px) and (max-width: 1024px) {

body {
    margin : 0;
}

header {
    height: 48%;
}


/* MENU HEADER*/


.navContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-top: 0;
    align-items: flex-start;
    padding-top: 1em;
    padding-left: 4em;
}

.LiNav {
    display: none;
}

.logoCh {           /* Logo CH Immo */
    height: 2.5em;
}

.btnPhone {                                   /* Btn phone contact navigation menu */
    background-color: #74AAD5;
    background-image: url("images/ic_local_phone_48px.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1em;
    border: none;
    width: 3em;
    height: 3em;
    color: white;
    border-radius: 50%;
    z-index: 0;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-indent: -9999px;
}

.icon {
    align-self: center;
    position: relative;
    width: 2em;
    height: 2em;
    z-index: 2;
}

.boxTxtImmo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 12em;
    margin-left: 3em;
    line-height: 0em;
}

.txtImmo h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: bolder;
}

.box-icon-header {
    display: none;
}



.btnApt {
    
    background-color: rgb(19, 50, 75);
}

.boxRound {
    display: flex;
    flex-direction: column-reverse;
    width: 10em;
    margin-left: 5em;
    margin-top: 4em;
    margin-bottom: 2em;
    justify-content: space-between;
    font-style: italic;
    font-weight: bold;
    z-index: 3;
}



.roundWhite {
    width: 7.5em;
    height: 7.5em;
    background-color: #74AAD5;
    margin-bottom: 1em;
    font-size: 1em;
    
}

.roundWhite p {
    color:  white;
}

.roundBlue {
    font-size: 1em;
    width: 7.5em;
    height: 7.5em;
    background-color: white;
    box-shadow: 0px 0px 12px 7px rgba(157, 179, 194, 0.5);
 
}

.roundBlue p {
    color:  rgb(19, 50, 75);
}


/* TEXT IMG FAMILY */

#blocTotal{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 0%;
    margin-left: 4em;
    background-image: url("images/1200x800_01.jpg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: right;
    z-index:-1;
}

.imageFamille{
    display: none;
}

#blocColonne{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: none;
    left: 0;
    
}

.titres{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 30%;
    padding-left: 10px;
    padding-top: 3em;
    background-color: white;
    font-style: italic;
}

.titres h1 {
    font-family: "Droide", serif;
    font-size: 45px;
}

.texteColonne{
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-right: 4em;
    word-wrap: wrap;
    background-color:  #FFFFFF;
    z-index: 2;   /* Surperposition */

  
  
  }

  .PremierPara{
    grid-column-start: 1;
    grid-row-end: 1;
  }

  .deuxiemePara{
    grid-column-start: 2;
    grid-column-end: 2;
  }





/* PLAN 3D LISTES  */

/* Image du plan */
.plan-3D {
    display: flex;
    flex-direction: row;
    width : 100%;
}

.boxListContainer {
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    justify-content: center;
}

.liste {
    font-size: 1em;
    width: 16em;
    padding: 3em;
}

.box-list {
    justify-content: space-around;
}

.box-icon {
    left: 40%;
}




}


  
